<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="dash-head">
          <div class="logo">
            <img src="{{ userImg }}" alt="Fyle" />
          </div>
          <div class="user-details">
            <div class="user-name">
              <h3>{{ name }}</h3>
            </div>
            <div class="user-bio">
              <p>{{ bio }}</p>
            </div>
            <div class="user-location">
              <div class="location-symbol">&#x26A8;</div>
              <div class="location">{{ location }}</div>
            </div>
            <div class="user-twitter">
              <p>Twitter: https://twitter.com/{{ twitter }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12">
        <div class="repo-link">
          <div class="repo-symbol">&#x26AE;</div>
          <div class="repo-link-user">
            <a>{{ repoUrl }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  