@use "../../../styles.scss" as global;

.card {
  padding: 15px 10px;
  min-height: 160px;
  margin: 15px 0;
  .repo-title {
    color: #428bca;
    font-size: 24px;
    font-family: "Manrope-Bold";
  }
  .repo-desc {
    color: #303030;
    font-size: 14px;
    font-family: "Manrope-Regular";
    margin: 8px 0;
  }
  .repo-topics {
    display: flex;
    margin: 10px 0;
    .topics {
      background-color: #428bca;
      color: #f2f2f2;
      padding: 7px;
      border-radius: 10px;
      font-family: "Manrope-Medium";
      font-size: 13px;
      &:not(:first-child) {
        margin: 0 10px;
      }
    }
  }
}
