<div class="container mt-5">
    <div class="row">
      <div
        class="col-sm-6"
        *ngFor="
          let r of repos
            | paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }
        "
      >
        <div class="card">
          <div class="repo-title">{{ r.name }}</div>
          <div class="repo-desc">{{ r.description }}</div>
          <div class="repo-topics">
            <div class="topics" *ngFor="let t of r['topics']">
              {{ t }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="pageChangeEvent($event)"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
  